[submodule "Minecraft/vendor/glfw"]
	path = Minecraft/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "Minecraft/vendor/spdlog"]
	path = Minecraft/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Minecraft/vendor/glm"]
	path = Minecraft/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Minecraft/vendor/yamlCpp"]
	path = Minecraft/vendor/yamlCpp
	url = https://github.com/Adam92506/yaml-cpp.git
[submodule "Minecraft/vendor/ImGui"]
	path = Minecraft/vendor/ImGui
	url = https://github.com/Adam92506/ImGui.git
